extends layout

block head
  link(rel='stylesheet', href='/css/main.css')

block main
  section.list.box
    h1.box-title.title Documents

    if documents
      table.doc-table
        thead.head
          tr
            th(scope='col', data-field='title').title Title
            th(scope='col', data-field='create').date.create Create
            th(scope='col', data-field='modified').date.modified Last modified
            th(scope='col', data-field='author').date.author Author
            td.empty
        tbody.body
          each document, index in documents
            tr.items
              th(scope='row').title
                a(href='/files/'+document._id) #{document.title}
              td.date.create #{document.date.create.getFullYear()+'/'+('0'+(document.date.create.getMonth()+1)).slice(-2)+'/'+('0'+document.date.create.getDate()).slice(-2)+' '+('0'+document.date.create.getHours()).slice(-2)+':'+('0'+document.date.create.getMinutes()).slice(-2)+':'+('0'+document.date.create.getSeconds()).slice(-2)}
              td.date.modified
                if document.date.modified
                  | #{document.date.modified.getFullYear()+'/'+('0'+(document.date.modified.getMonth()+1)).slice(-2)+'/'+('0'+document.date.modified.getDate()).slice(-2)+' '+('0'+document.date.modified.getHours()).slice(-2)+':'+('0'+document.date.modified.getMinutes()).slice(-2)+':'+('0'+document.date.modified.getSeconds()).slice(-2)}
                else
                  | #{document.date.create.getFullYear()+'/'+('0'+(document.date.create.getMonth()+1)).slice(-2)+'/'+('0'+document.date.create.getDate()).slice(-2)+' '+('0'+document.date.create.getHours()).slice(-2)+':'+('0'+document.date.create.getMinutes()).slice(-2)+':'+('0'+document.date.create.getSeconds()).slice(-2)}
              td.author
                | #{username}
              td.func
                ul.func-list
                  li.func-item
                    a(href='#modal-delete'+index).delete.item-contents.waves-effect Delete
                      i.mdi-action-delete
                  li.func-item
                    a(href='/files/'+document._id+'/edit').edit.item-contents.waves-effect Edit
                      i.mdi-editor-mode-edit
          if viewable
            each document, index in viewable
              tr.items
                th(scope='row').title
                  a(href='/files/'+document._id) #{document.title}
                td.date.create #{document.date.create.getFullYear()+'/'+('0'+(document.date.create.getMonth()+1)).slice(-2)+'/'+('0'+document.date.create.getDate()).slice(-2)+' '+('0'+document.date.create.getHours()).slice(-2)+':'+('0'+document.date.create.getMinutes()).slice(-2)+':'+('0'+document.date.create.getSeconds()).slice(-2)}
                td.date.modified
                  if document.date.modified
                    | #{document.date.modified.getFullYear()+'/'+('0'+(document.date.modified.getMonth()+1)).slice(-2)+'/'+('0'+document.date.modified.getDate()).slice(-2)+' '+('0'+document.date.modified.getHours()).slice(-2)+':'+('0'+document.date.modified.getMinutes()).slice(-2)+':'+('0'+document.date.modified.getSeconds()).slice(-2)}
                  else
                    | #{document.date.create.getFullYear()+'/'+('0'+(document.date.create.getMonth()+1)).slice(-2)+'/'+('0'+document.date.create.getDate()).slice(-2)+' '+('0'+document.date.create.getHours()).slice(-2)+':'+('0'+document.date.create.getMinutes()).slice(-2)+':'+('0'+document.date.create.getSeconds()).slice(-2)}
                td.author
                  | #{document.userInfo.username}
                td.func
            
      each document, index in documents
        section(id='modal-delete'+index).modal
          div.modal-body
            h2.title Delete
              
            p Are you sure to delete 
              strong #{document.title}
              |  ?
            
          footer.modal-footer
            ul.button-list
              li.button-item.agree
                form(method='post', action='/files/'+document._id)
                  input(type='hidden', name='_method', value='delete')
                  button(type='submit', name='delete').button.waves-effect Agree
              li.button-item.disagree
                a.button.waves-effect Disagree
    else
      p Write a new document.

    p
      a(href='/files/new').button.waves-effect Write
        i.mdi-editor-mode-edit.left

block script
  script(src='js/main.js')
